@import 'config/reset';
@import 'config/variables';
@import 'layout';

body {
  // https://uigradients.com/#Disco
  background: #4ecdc4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #556270,
    #4ecdc4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #556270,
    #4ecdc4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-size: 16px;
  font-family: 'Catamaran', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
